@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServer.Commerce.Models.ViewModels.FashionProductViewModel

<h2>@{ Html.RenderAction("Title", "Head"); }</h2>
<div class="row jsProductDetails">
  <div class="col-xs-12 col-sm-4 col--leading">
      <div id="product-carousel" class="carousel slide"  data-ride="carousel">
          <div class="carousel-inner" role="listbox">
              @for (var i = 0; i < Model.Images.Count(); i++)
              {
                  <div class="item" data-slide-numbe="@i">
                      <img src="@Model.Images.ElementAt(i)" />
                  </div>
              }
          </div>
          <div class="row" id="carousel-thumbs">
              <ul class="carousel-thumbs js-carousel-thumbs">
                  @for (var i = 0; i < Model.Images.Count(); i++) { 
                      <li class="col-xs-3">
                          <a href="#" class="thumbnail jsthumbnail" id="@i">
                              <img src="@Model.Images.ElementAt(i)" />
                          </a>
                      </li>
                  }
              </ul>
          </div>
      </div>
  </div>
    <div class="col-xs-12 col-sm-8 product-info">
        <div class="row">
            <div class="col-xs-12">
                @Html.PropertyFor(x => x.Product.DisplayName)
            </div>
            <div class="col-xs-12 col-sm-6">
            <h2 class="product-brand">@Html.PropertyFor(x => x.Product.Brand)</h2>    
            </div>
            <div class="col-xs-12 col-sm-6">
                @if (Model.Price < Model.OriginalPrice) { 
                    <h4 class="product-price">@Model.Price.ToString()</h4>
                    <h4 class="product-price--discount">@Model.OriginalPrice.ToString()</h4>
                }
                else{
                <h4 class="product-price">
                    @Model.Price.ToString() 
                </h4>
                }
            </div>
        </div>
        <div class="row">
            @using (Html.BeginForm("SelectVariant", "Product", FormMethod.Post, new  { @class = "product-detail__form clearfix" })) { 
                <div class="col-xs-12 col-sm-6">
                    <label for="Color">Color</label>
                    @Html.DropDownListFor(x => x.Color, Model.Colors, new { @class="form-control jsVariationSwitch"})
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="Size">Size</label>
                    @Html.DropDownListFor(x => x.Size, Model.Sizes, new { @class="form-control jsVariationSwitch"})
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.PropertyFor(x => x.Product.MainBody)
                <p>@Html.PropertyFor( x => x.Product.Description) </p>
            </div>
            <p>
                <strong>SKU:</strong>@Html.PropertyFor(x => x.Variation.Code)
            </p>
        </div>

          <div class="row">
            <div class="col-md-7">
                @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "form-inline", data_container = "MiniCart" }))
                {
                    @Html.Hidden("code", Model.Variation.Code)
                    <button type="submit" role="button" class="btn btn-primary jsAddToCart" data-container="MiniCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart </button>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("AddToCart", "WishList", FormMethod.Post, new { @class = "form-inline jsAddToWishList", data_container = "WishListMiniCart" }))
                    {
                        @Html.Hidden("code", Model.Variation.Code)
                        <button type="submit" role="button" class="btn btn-default btn--blue jsAddToCart" data-container="WishListMiniCart"><span class="glyphicon glyphicon-heart"></span> Add To Wish List</button>
                    }
                }
            </div>
            <div id="CartWarningMessage" class="col-md-5 col-xs-12 alert alert-danger pull-right" hidden>
                <button type="button" class="close" data-hide="alert">&times;</button>
                <span class="warning-message"></span>
            </div>
        </div>

    </div>
</div>